body { 
	background: #121212;
	color: #FFF;
	padding: 5px 25px; 
}

h1#logo { 
	background: url('/img/dl-logo.png'); 
	background-size:40%;
	background-repeat:no-repeat;
	width: 65%;
	height: 65%;
	text-indent: -9999px;
}

.button {
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
	background: #FFF;
	color: #a4a4a4;
	text-shadow: 1px 1px 1px #000;
	
	background: #1d1d1d;
	background: -moz-linear-gradient(top,  #1d1d1d 0%, #171717 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d1d1d), color-stop(100%,#171717));
	background: -webkit-linear-gradient(top,  #1d1d1d 0%,#171717 100%);
	background: -o-linear-gradient(top,  #1d1d1d 0%,#171717 100%);
	background: -ms-linear-gradient(top,  #1d1d1d 0%,#171717 100%);
	background: linear-gradient(to bottom,  #1d1d1d 0%,#171717 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1d1d', endColorstr='#171717',GradientType=0 );
}

.button:hover {
	background: #171717;
	background: -moz-linear-gradient(top,  #171717 0%, #1d1d1d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#171717), color-stop(100%,#1d1d1d));
	background: -webkit-linear-gradient(top,  #171717 0%,#1d1d1d 100%);
	background: -o-linear-gradient(top,  #171717 0%,#1d1d1d 100%);
	background: -ms-linear-gradient(top,  #171717 0%,#1d1d1d 100%);
	background: linear-gradient(to bottom,  #171717 0%,#1d1d1d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#1d1d1d',GradientType=0 );
}

div.menu {
	background: #161616;
	padding:3px;
	border-radius: 5px;
	margin-bottom:10px;
}

div.v-but {
	float:right;
}


.pointer {
	cursor: pointer;
}

ul#wad-list, ul#wad-list li {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul#wad-list li {
	font-size: 12px;
	height: 24px;
	line-height: 24px;
}

ul#wad-list li:hover{
	background: #161616;
}

img.game-ico {
	width:16px;
	padding:2px;
	margin-right:5px;
}

div#first-time {
	display: none;
}