body {  
	/*background: #121212;*/
	background: url('/assets/background.jpg')no-repeat center center fixed;   
	-webkit-background-size: cover;   
	-moz-background-size: cover;   
	-o-background-size: cover;   
	background-size: cover;
	color: #FFF;
	padding: 5px 25px; 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1#logo { 
	background: url('/img/dl-logo.png'); 
	background-repeat: no-repeat;
	text-indent: -9999px;
	width: 530px;
	height: 117px;
	margin: 0 auto;
}

.button {
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	color: #a4a4a4;
	text-shadow: 1px 1px 1px #000;
	background: #1e201f;
}

.button:hover {
	background: #171717;
}

div.menu {
	background: rgba(30, 32, 31, 0.5);
	padding:3px;
	border-radius: 5px;
	margin-bottom:10px;
}

div.v-but {
	float:right;
}

.pointer {
	cursor: pointer;
}

ul#mods-list, ul#mods-list li {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul#mods-list li {
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	background: rgba(30, 32, 31, 0.5);
	margin-bottom: 1px;
	padding: 0px 5px;
}

ul#mods-list li:hover{
	background: #161616;
}

img.game-ico {
	width:16px;
	padding:2px;
	margin-right:5px;
}

div#setup {
	display: none;
}

div.mods-list {
	width: 49%;
}
div.mod-info {
	width: 48%;
}
div.panel {
	float: left;
	padding: 3px;
	margin-right: 5px;
}
div#dl-config {
	display: none;
}

div.box-images {
	margin-top: 5px;
}

div.box-images img {
	opacity: 0.7;
}
div.box-images img:hover {
	opacity: 1;
}

div.mod-title {
	background: rgba(30, 32, 31, 0.5);
	font-size: 24px;
	font-weight: bold;
}

div.mod-info img {
	width: 100%;
	margin: 3px;
}

div.play-button {
	width:75%;
	text-align: center;
}

div.bod-border {
	position: absolute;
	z-index: 1;
}
div.top, div.bottom {
	width: 100%;
	height: 2px;
	background: #161616;
}
div.left, div.right {
	height: 100%;
	width: 2px;
	background: #161616;
}
div.top { top: 0; left: 0; }
div.bottom { bottom: 0; left: 0; }
div.right{ right: 0; top: 0; }
div.left { left: 0; top: 0; } 

div.resize {
	z-index: 2;
	position: absolute;
	width: 10px;
	height: 10px; 
}
div.top-l { top: 0; left: 0; }
div.top-r { top: 0; right: 0;  }
div.bot-l { bottom: 0; left: 0; }
div.bot-r { bottom: 0; right: 0; }

span.window-controls {
	float: right;
	margin-right: -17px;
}
span.window-controls strong {
	display: inline-block;
	width: 16px;
	height: 16px;
}
.wc-mini {
	background: url('ui/ui-min.png');
}
.wc-maxi {
	background: url('ui/ui-max.png');
}
.wc-rest {
	background: url('ui/ui-res.png');
}
.wc-clos {
	background: url('ui/ui-clo.png');
}
.wc-mini:hover {
	background: url('ui/ui-min-h.png');
}
.wc-maxi:hover {
	background: url('ui/ui-max-h.png');
}
.wc-rest:hover {
	background: url('ui/ui-res-h.png');
}
.wc-clos:hover {
	background: url('ui/ui-clo-h.png');
}
